html, body {
    width: 100%;
    min-height: 100vh; 
    padding-top: 0;
    font-family: Garamound, serif;
    background: url('img1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

main {
    flex-grow: 1;
    align-content: center;
}

h1 {
    color: #fff3b0; 
}

header {
    background-image: linear-gradient(to bottom,
        #e09f3eff, #e09f3e99); 
    font-family: 'Brush Script MT', cursive;
    color: #540b0e; 
    margin: 0;
    text-align: left;
    padding-left: 1em; 
    cursor: crosshair; 
    position: sticky;
    top: 0;
    z-index: 5;
}

#searchResults, #time {
    visibility: hidden;
}

.search-box {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0; 
    border-radius: 1em;
    background-image: linear-gradient(to right,
        #16A085 0%, #F4D03F  50%, #16A085  100%);
    background-size: 200% auto;
    box-shadow: 0 0 0.5em #EEEEEE;
    transition: 0.25s; 
    margin: 1em auto;
}

.search-box:hover {
    background-position: right center;
    color: #FFFFFF; 
    text-decoration: none;
}

.search-box:focus-within {
    box-shadow: 0 0 0 0.2em #ff6b49; 
}

.search-icon {
    margin: 1vw 0 1vw 1vw;
    color: green; 
}

#query {
    font-size: 1em; 
    color: black; 
    margin: 1vw; 
    outline: none; 
    border: none; 
    border-radius: 100em; 
    background-color: transparent;
    width: 48vw;
}

.buttons {
    margin: auto; 
    display: flex;
    flex-wrap: wrap; 
    gap: 1em; 
    justify-content: space-between;
    align-content: center; 
    width: 54vw; 
}

button {
    background-image: linear-gradient(to right, 
        #16A085 0%, #F4D03F  50%, #16A085  100%); 
    border: none; 
    margin: 0;
    padding: 0.8em;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    cursor: crosshair;
    box-shadow: 0 0 0.5em #eeeeee;
    border-radius: 1em;
    display: block;
    flex-grow: 1; 
}

button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

#searchResults {
    margin: 5vw; 
    border-radius: 1em; 
    box-shadow: 0.4em 0.4em 0 0 rgba(0,0,0,0.75);
    display: flex; 
    flex-direction: column;
    text-align: left; 
    background-image: linear-gradient(to bottom, #52796f 0%, #354f52 50%, #2f3e46 100%); 
}

#searchResults > p {
    text-transform: uppercase;
    text-align: center;
}

.search-item {
    padding: 1em;
    text-decoration: none;
}

.search-item:hover {
    border-radius: 1em;
    background-color: #84a98c;
}

.search-item > a {
    text-decoration: none; 
    color: #e5ffe5;
    cursor: crosshair; 
}

.search-item > a:visited {
    color: #e5c7ca;
}

footer {
    background-color: #000000e0; 
    color: white;            
    text-align: right;        
    padding: 10px 20px;     
    position: sticky;
    bottom: 0;
    z-index: 2;
}

footer a {
    color: white; 
}

footer p {
    margin: 0;  
    padding: 0; 
}


